$btn-font-color: #fff;
$btn-font-color-dark: #000;
$link-font-color: #007bff;

$primary-bg-color-light: #007bff;
$primary-bg-color-dark: #0470e3;
$primary-border-color: #007bff;

$secondary-bg-color-light: #6c757d;
$secondary-bg-color-dark: #575c60;
$secondary-border-color: #6c757d;

$success-bg-color-light: #28a745;
$success-bg-color-dark: #208437;
$success-border-color: #28a745;

$danger-bg-color-light: #dc3545;
$danger-bg-color-dark: #c52f3e;
$danger-border-color: #dc3545;

$warning-bg-color-light: #ffc107;
$warning-bg-color-dark: #e3ac07;
$warning-border-color: #ffc107;

$info-bg-color-light: #17a2b8;
$info-bg-color-dark: #138697;
$info-border-color: #17a2b8;

$light-bg-color-light: #f8f9fa;
$light-bg-color-dark: #e5e6e8;
$light-border-color: #f8f9fa;

$dark-bg-color-light: #343a40;
$dark-bg-color-dark: #272b2f;
$dark-border-color: #343a40;